body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1a22;
    color: #ffffff;
}


nav{
    display: flex;
    align-items: center;
      background: linear-gradient(to bottom, #32233a, #271d2e, #1f1a22);
    padding: 10px 200px;
}

#logo-nav{
  height: 50px;
  margin-right: 20px; /* separa del resto de los enlaces */
  margin-top: 10px;   /* lo baja un poco si está pegado arriba */
}

.nav-item:hover{
    font-size: 20px;
}

a{
    text-decoration: none;
}

.nav-item{
    margin-right: 20px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0px 20px;
}

.carrousel{
    width: 75%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 10%;
}
.carrousel-contenedor{
    display: flex;
    width:100%;
    animation: deslizar 15s infinite;
}

.carrousel-imagen{
    width: calc(100% / 3.15);
    flex-shrink: 0;
    border-radius: 20px;
    padding: 10px;
}

.
