body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}


nav {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #272229, #1b1a1d, #000000);
    padding: 10px;
    padding-left: 10%;
}

#logo-nav {
    height: 50px;
    margin-right: 20px;
    margin-top: 10px;
}

.nav-item:hover {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.nav-item {
    margin-right: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0px 20px;
}

/* Estilos para el carrusel */
.carrousel {
    margin: auto;
}

.carrousel-contenedor {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.carrousel-imagen {
    border-radius: 20px;
    padding: 10px;
    width: 350px;
    height: auto;


}

.carrousel-boton {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(2, 2, 2, 0.5);
    border: none;
    color: white;
    font-size: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carrousel-boton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carrousel-boton.anterior {
    left: 300px;
}

.carrousel-boton.siguiente {
    right: 300px;
}

/*Estilos para las reseñas*/

.reseñas {

    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.reseña-item {
    text-align: center;
    margin: 0 45px;
    background-color: #1b1a1d;
    border-radius: 10px;
    padding: 20px;
    white-space: nowrap;
}

.reseña-item h2 {
    color: #ffcc00;

}

.reseña-info p {
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
}

/*Estilos para las Curiosidades*/
h1 {
    text-align: center;
    margin-top: 100px;
    color: #f12929;
}

h2 {
    text-align: center;
    margin-top: 10px;
}


.curiosidades-contenedor h2 {
    color: #4b0c0c;
    margin-top: 100px;
}

.curiosidad-pelicula-1 h2 {
    margin-top: 10px;
    color: #f47357;
}


.curiosidad-pelicula-1 {
    display: flex;
    justify-content: center;
}

.curiosidad-item {
    text-align: center;
    white-space: nowrap;
    background-color: #1b1a1d;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}